html{
	font-family: Helvetica Arial Verdana;
}

.appHeader{
	font-size: 18pt;
}

.tabList{
	list-style: none;
	padding: 0;
	margin: 0;
}

.tabList li{
	float: left;
    border: 1px solid #000;
    border-bottom-width: 0;
    border-radius: 10px 10px 0 0;
    padding: 10px;
    background-color: #CCC;
    color: #696969;
}

#mainView{
	border: 1px solid black;
	clear: both;
	padding: 0 1em;
}

.notesArea{
	width: 80%;
}

.toDoList{
	list-style: none;
	padding: 0;
}

.toDoList > li{
	display: inline-block;
	margin-right: 5px;
	margin-bottom: 5px;
	vertical-align: top;
}

.itemText{
	display: block;
	margin-top: 5px;
	font-size: 14pt;
	cursor: normal;
}

.closeBtn{
	display: block;
	position: relative;
	top: -20px;
	right: -5px;
	font-size: 14pt;
	text-align: center;
	cursor:pointer;
	margin: 0;
	padding: 0;
	float: right;
}

.delBtn{
	display: block;
	position: relative;
	top: -14px;
	right: -3px;
	font-size: 13pt;
	text-align: center;
	cursor:pointer;
	margin: 0;
	padding: 0;
	float: right;
}

.addBtn{
	height: 50px;
	width: 50px;
	font-size: 16pt;
	color: green;
	background-color: transparent;
	border: 1px solid gray;
	border-radius: 5px;
	float: left;
	margin-left: 5px; 
}

.addBtn:hover{
	background-color: #C0ECBD;
}

.addTabBtn{
	height: 39px;
	width: 39px;
	font-size: 16pt;
	color: green;
	background-color: transparent;
	border: 1px solid gray;
	border-radius: 10px;
	float: left;
}

.addTabBtn:hover{
	background-color: #C0ECBD;
}

.newTabName{
	vertical-align: center;
	display: inline-block;
	vertical-align: middle;
}

.dateLbl{
	position: relative;
	top: -15px;
	left: -10px;
	float:left;
	font-size: 10pt;
}

.itemContainer{	
	display: block;
	position: relative;
	border-style: solid;
	width: 250px;
	min-height: 50px;
	border-color: #BBBBBB;
	border-width: 1px 1px 3px 2px;
	border-radius: 5px;
	padding: 15px 10px 10px 10px;
	margin-bottom: 5px;
	background-color: #FCFF2C;
}

.addItemCtrlsBox{
	position: relative;
	display: inline-block;
}

.newTextBox{
	min-height: 50px;
	float: left;
	resize: none;
}

.editArea{
	background-color: transparent;
	border-style: none;
	outline: none;
	resize: none;
}

.itemEdit{
	position: relative;
	top: -10px;
}

.tabEdit{
	position: relative;
	top: 5px;
}

.edit-in-place-single span {
  cursor: pointer;
}

.edit-in-place-single input {
  display: none;
  width: 75px;
}

.edit-in-place-single.active span {
  display: none;
}

.edit-in-place-single.active input {
  display: inline-block;
}

.edit-in-place-multi span {
  cursor: pointer;
}

.edit-in-place-multi textarea {
  display: none;
}

.edit-in-place-multi.active span {
  display: none;
}

.edit-in-place-multi.active textarea {
  display: inline-block;
}

textarea{
	border-radius: 5px;
}

.clear{
	clear:both;
}

.active {
    background-color: #FFF !important;
    color: #000 !important;
}