<!doctype html>
<html ng-app='toDoApp'>
  <head>
    <link rel="stylesheet" href="app/Styles/global.css">
    <link type="text/css" rel="stylesheet" href="app/Styles/angular-flash.css" />
  </head>
  <body ng-controller="applicationController">
      <div class="logRegContainer">
        <h2 class="siteTitle"><a href="#main" class="homeLink">ToDo</a></h2>
        <div ng-switch="userStatus">            
           <div ng-switch-when="login" class="loginControls">
                <form name='loginForm' ng-controller='loginController' ng-submit="login(credentials)" >
                    <label for="email">Email:</label>
                    <input type="text" name="userEmail" id="email" ng-model="credentials.userEmail" required>

                    <label for="password">Password:</label>
                    <input type="password" name="userPassword" id="password" ng-model="credentials.userPassword" required>

                    <button type="submit" class='logRegBtns'>Login</button>
                    <button ng-click="setNone()" class='logRegBtns'>Cancel</button>
                </form>
            </div>
            <div ng-switch-when="register" class='registerControls'>
                <form name='registrationForm' ng-controller='registrationController' ng-submit="register(registrationData)" >
                    <label for="email">Email:</label>
                    <input type="text" name="userEmail" id="regEmail" ng-model="registrationData.userEmail" required>

                    <label for="username">Username:</label>
                    <input type="text" name="userName" id="regUsername" ng-model="registrationData.userName" required>

                    <label for="email">Password:</label>
                    <input type="password" name="userPassword" id="regPassword" ng-model="registrationData.userPassword" required>

                    <button type="submit" class='logRegBtns'>Register</button>
                    <button ng-click="setNone()" class='logRegBtns'>Cancel</button>
                </form>
            </div>
            <div ng-switch-when="loggedIn" class='userInfo'>
                <label class="userNameLbl headerItem">{{currentUser}}</label>
                <label class="settingsLbl headerItem">Settings</label>
                <label class="logoutLbl headerItem">Logout</label>
            </div>
            <div ng-switch-default class="logRegBtnsBox">
                <button ng-click="setLogin()" class='logRegBtns'>Login</button>
                <button ng-click="setRegister()" class='logRegBtns'>Register</button>
            </div>
        </div>
      </div>
      <h1 class="appHeader">Here is what you have to do</h1>
    	<div ng-controller="mainController">
        <div id="tabs">
          <ul class="tabList">
            <li class="tab" ng-repeat="tab in $storage.tabs" ng-class="{active:isActiveTab(tab.id)}" ng-click="onClickTab(tab)">
              <edit-in-place-single class="tabEdit" value="tab.title" ng-model="newTabName" ng-keypress="loseFocus($event)"></edit-in-place-single>
              <p class="delBtn" ng-click="deleteTab(tab.id)">x</p>
            </li>
            <div class="addTabContainer">
              <button class="addTabBtn" ng-click="addTab()">+</button>
            </div>
          </ul>
          <div id="mainView" ng-show="$storage.tabs.length">
            <h1 ng-hide="$storage.items.length">You have nothing to do!</h1>
            <div class="notesArea" ng-show="$storage.items.length">
                <ul class="toDoList">
                  <li ng-repeat="item in $storage.items | filter:{tabId: currentTab} | orderBy: '-importance'">
                      <div class="itemContainer" style="background:{{importanceColors[item.importance]}}">
                        <p class='closeBtn' ng-click="deleteItem(item.id)">x</p>
                        <label class="dateLbl">{{item.date | date:'MM-dd'}}</label>
                        <br>
                    <edit-in-place-multi class="itemEdit" value="item.text" ng-keypress="loseFocus($event)"></edit-in-place>
                      </div>
                  </li>
                </ul>
            </div>
            <div class="addItemCtrlsBox clear">
              <textarea class='newTextBox' type="text" ng-model="newItemText" ></textarea>
              <input class='addBtn' type="button" value="+" ng-click="addItem(newItemText)"/>
          </div>
          <div class="importanceBox">
                <label>IMPORTANCE: </label>
                <input type="radio" name="importance" value="2" ng-model="importance">High</input>
                <input type="radio" name="importance" value="1" ng-model="importance">Normal</input>
                <input type="radio" name="importance" value="0" ng-model="importance">Low</input>
          </div>
          </div>
        </div>
      </div>
      <div flash-message="5000"></div>
      <script src="app/Vendor/angular.min.js"></script>
      <script src="app/Vendor/angular-route-min.js"></script>
      <script src="app/Vendor/angular-cookies-min.js"></script>
      <script src="app/Vendor/angular-flash.js"></script>
      <script src="app/Vendor/ngStorage.min.js"></script>
      <script src="app/js/main.js"></script>
      <script src="app/Controllers/mainController.js"></script>
      <script src="app/Controllers/applicationController.js"></script>
      <script src="app/Controllers/loginController.js"></script>
      <script src="app/Controllers/registrationController.js"></script>
  </body>
</html>